@tailwind base;
@tailwind components;
@tailwind utilities;

//literal colors
$color-gray100: #f7f7f7;
$color-gray200: #eeeeee;
$color-gray300: #e2e2e2;
$color-gray400: #dadada;
$color-gray500: #cfcfcf;
$color-fluo100: #BAE902;
$color-fluo200: #BEEC0B;
$color-darkgray100: #373737;
$color-white100: #ffffff;

//primary colors
$color-primary: #{$color-gray100};
$color-secondary: #ac3939;
$color-tertiary: #{$color-gray200};

//color variables 
$header-bg: #{$color-darkgray100};
$footer-bg: #{$color-darkgray100};
$dropdown-bg: #{$color-primary};
$navigation-menu-bg: #{$color-gray500};
$navigation-menu-text-color: #{$color-white100};


//height variables
$header-height: 64px;
$logo-img-height: 64px;
$navigation-menu-height: 60px;





body {
  min-height: 100vh;
}


footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.header {
  height: #{$header-height};
  background-color: $header-bg;
  color: #{$navigation-menu-text-color};
  font-size: 14px;

  .logo-container {
    a {
      img {
        height: #{$logo-img-height};
      }
    }
  }

  .navigation-menu {
    height: 64px;

    .navigation-menu-item {
      padding: 10px;

      &:hover {
        font-size: 18px;
      }
    }
  }
}

.navigation-bar-container {
  background-color: $header-bg;
  height: 64px;

  .navigation-menu {
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    color: #{$navigation-menu-text-color};

    .navigation-menu-item {
      padding: 10px;
      height: #{$navigation-menu-height};

      &:hover {
        font-size: 18px;
      }
    }
  }
}



.dropdown {
  display: none;
  background-color: #{$color-darkgray100};
  z-index: 10;
  color: #{$color-white100};
  font-size: 16px;
  white-space: nowrap;
  padding-right: 8px;

  .menu-item {
    &:hover {
      background-color: #{$color-darkgray100};
      color: #{$color-fluo200};
      font-size: 18px;
    }
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.catalogue-container {
  border: #{$color-gray300} solid 2px;
  border-radius: 12px;

  .catalogue-img-container {
    height: 200px;
    width: 100%;
    border-radius: 12px;

    &.primary {
      height: 500px;
    }

    .catalogue-img {
      border-radius: 12px;

    }
  }
}

.product-card {
  border: #{$color-gray300} solid 2px;
  border-radius: 8px;
  height: 300px;

  .product-card-img-container {
    height: 120px;
    width: 120px;

    .product-card-img {
      border-radius: 8px;

    }
  }
}

.thumbnail-list-container {
  .thumbnail-list-img-wrap {
    height: 100px;
    width: 100px;

    .thumbnail-list-img {
      border: #{$color-gray300} solid 2px;
      border-radius: 8px;
      object-fit: cover;

    }
  }
}

.gallery-preview-container {
  .gallery-preview-img-wrap {
    height: 250px;
    width: 200px;

    .gallery-preview-img {
      height: 250px;
      width: 200px;
      object-fit: cover;
    }
  }
}

.cooperation-section {
  height: 80px;
  margin-top: 10px;
  border-top: $color-gray300 solid 1px;


  .cooperation-section-content {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .cooperator-wrap {
      display: inline-block;
      animation: move-logos 5s linear infinite;
      padding: 10px;
      width: 100px;
      height: 60px;

      // .logo-img {}
    }
  }
}

.product-details {
  flex: 1;

  .product-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .product-brand {
    font-size: 1.2rem;
    font-weight: 600;

    .product-brand-value {
      font-weight: 400;
    }
  }

  .product-price {
    font-size: 1.2rem;
    font-weight: 600;

    .product-price-value {
      font-weight: 400;
    }

    .product-currency {
      font-weight: 500;
    }
  }

  .product-colors {
    font-size: 1.2rem;
    font-weight: 600;

    .product-colors-value {
      font-weight: 400;
    }
  }
}

.footer {
  background-color: $footer-bg;
}


@keyframes move-logos {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}