@tailwind base;
@tailwind components;
@tailwind utilities;

$header-color: #ececec;


body {
  min-height: 100vh;
}

.header {
  height: 88px;
  background-color: $header-color;

  .logo-container {

    .logo-img {
      height: 88px;
    }
  }

  .search-box-container {
  }
}

.navigation-menu {
  height: 64px;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
}

.dropdown {
  display: none;
  background-color: aqua;
}

.show {
  display: block;
}